name: lab03

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: cd app_python/; pip install -r requirements.txt
  lint:
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Run flake8
        run: flake8 app.py tests/
  test:
    runs-on: ubuntu-latest
    needs: [ build, lint ]
    steps:
      - name: Run pytest
        run: pytest tests/